*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.map {
  background-color: #f1f3f4;
  height: 1000px;
  width: 1000px;
  overflow: scroll;

  &__container {
    max-height: 100vh;
    max-width: 100%;
  }
}



.movement {

  &__list {
    overflow-y: scroll;
    max-height: 1000px;
    min-height: 1000px;
    width: 100%;
  }


  &__list-item {

    border-bottom: 3px solid #e6e6e6;
    padding-bottom: 0 14px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    &--description {
      font-size: 1.5rem;
      word-wrap: break-word;
    }

    &--coordinate {
      font-size: 1rem;
      color: gray
    }

    &--button-holder {
      display: flex;
      align-items: center;
    }

    &:hover {
      background-color: #f7f7f8;
    }
  }


}

.route {
  word-wrap: break-word;

  &__item {
    border-bottom: 3px solid #e6e6e6;
    padding: 14px 0;
    font-size: 1rem;

    &:hover {
      background-color: #f7f7f8;
    }

  }
}

.form {
  &__section {
    border-bottom: grey 1px solid;
  }
}

.btn {
  &-custom {
    color: #0275d8 !important;
    border-color: #0275d8 !important;
    border-radius: 50% !important;

    &:hover {
      background-color: #f1f3f4;

    }
  }
}

.button-container {
  padding: 1rem;
  color: #0275d8 !important;
  text-align: center;
  cursor: pointer;
}

.row {
  margin-left: auto !important;
  margin-right: auto !important;
}